* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #004f8c;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

header {
    background-color: #f5ba13;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.app-header {
    flex-grow: 1;
}

.Paper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.AppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.AppBar-positionStatic {
    position: static;
}

.AppBar-colorPrimary {
    color: #fcfcfd;
    background-color: #141416;
}

.Paper-elevation4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Toolbar-root {
    display: flex;
    position: relative;
    align-items: center;
}

.Toolbar-regular {
    min-height: 56px;
}

.header-appBar-13 {
    height: 80px;
    border-bottom: 0.4px solid #353945;
}

.Toolbar-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.header-left-4 {
    margin-left: 16px;
}

.header-logo-11 {
    margin-right: 1px;
    height: 50px;
    width: 55px;
}

.header-vertical-9 {
    height: 35px;
    border-left: 0.5px solid #ffffff;
    margin-right: 16px;
}

.Typography-root {
    margin: 0;
}

.header-logo-text {
    font-size: 20px;
}

.header-empty-6 {
    flex-grow: 1;
}

.header-space-8 {
    margin-right: 16px;
}

.ButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.ButtonBase-root::-moz-focus-inner {
    border-style: none;
}

@media print {
    .ButtonBase-root {
        -webkit-print-color-adjust: exact;
    }
}

.Button-root {
    color: white;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.Button-root:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}

@media (hover: none) {
    .Button-root:hover {
        background-color: transparent;
    }
}

.Button-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.Button-text {
    padding: 6px 8px;
}

.header-navButtons-3 {
    color: #f5f6f7;
    font-size: 20px;
    margin-right: 8px;
    text-transform: none;
}

.play-level-select {
    font-size: 1.5rem;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.play-level-select-form {
    width: 42%;
}

.play-level-form-label {
    font-size: 2rem;
    color: blue;
    margin-bottom: 40px;
}

.play-level-form-feedback {
    font-size: 1.3rem;
    color: #f070a5;
}

.play-level-select-button {
    margin-top: 30px;
    font-size: 1.3rem;
}

.play-panel {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.play-panel-speech {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.play-words {
    color: brown;
    text-align: center;
    font-size: 3rem;
}

.play-input-container {
    position: relative;
    margin: 50px auto;
    width: 75%;
}

.play-input-container input[type="text"] {
    text-align: center;
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.play-input-container input[type="text"]:focus,
.play-input-container input[type="text"]:valid {
    top: -20px;
    font-size: 2.3rem;
    color: #333;
}

.play-input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.play-input-container input[type="text"]:focus~.underline,
.play-input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

.play-timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}

.play-timer-label {
    font-family: Roboto;
    font-size: 3.5rem;
    color: rgb(231, 62, 133);
    margin-bottom: 20px;
}

.play-timer-button {
    font-size: 1.3rem;
}

.play-status {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.play-status-label {
    font-family: Roboto;
    font-size: 3.5rem;
    color: rgb(231, 62, 133);
    margin-bottom: 20px;
}

.play-status-table {
    width: 400px;
}

.play-status-buttons {
    display: inline-flex;
    margin-top: 40px;
}

.play-status-button {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.game-panels {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.panel-left {
    width: 10%;
    text-align: center;
}

.panel-middle {
    position: relative;
    width: 80%;
    // background-image: url(../../assets/hunminjungeum.png);
    background-size: cover;
}

.falling-word {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: yellow;
    border-radius: 6px;
    padding: 4px;
}

.game-start-button {
    position: absolute;
    top: 40%;
    left: 49%;
    width: 100px;
    height: 80px;
    font-size: 36px;
}

.panel-right {
    width: 10%;
}

.game-input {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 100%;
}

.game-input input[type="text"] {
    text-align: center;
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.game-input input[type="text"]:focus,
.game-input input[type="text"]:valid {
    top: -20px;
    font-size: 2.3rem;
    color: #333;
}

.game-input .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.game-input-container input[type="text"]:focus~.underline,
.game-input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

.typo-text input {
    background-color: transparent;
    color: black;
    width: 60%;
    height: 40px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid blueviolet;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    font-size: 20px;
}

.typo-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typo-keyboard input {
    background-color: transparent;
    color: black;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid blueviolet;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    font-size: 30px;
}

.simple-keyboard {
    margin-top: 20px;
    max-width: 650px;
}

.hg-button.highlight-key {
    background-color: yellow;
}

.essay-note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.essay-note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.essay-note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.essay-note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

.icp-token-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.icp-label {
    font-size: 1.5rem;
}

.icp-input {
    margin-top: 10px;
    margin-bottom: 30px;
}

.icp-id {
    width: 600px
}

.icp-button {
    padding: 10px;
    border-radius: 10px;
}