.game-container {
    display: flex;
    flex-direction: column;
}

.game-panels {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.panel-left {
    width: 10%;
    text-align: center;
}

.panel-middle {
    position: relative;
    width: 80%;
    background-image: url(../../assets/hunminjungeum.png);
    background-size: cover;
}

.falling-word {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: yellow;
    border-radius: 6px;
    padding: 4px;
}

.game-start-button {
    position: absolute;
    top: 40%;
    left: 49%;
    width: 100px;
    height: 80px;
    font-size: 36px;
}

.panel-right {
    width: 10%;
}

.game-input {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 100%;
}

.game-input input[type="text"] {
    text-align: center;
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.game-input input[type="text"]:focus,
.game-input input[type="text"]:valid {
    top: -20px;
    font-size: 2.3rem;
    color: #333;
}

.game-input .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.game-input-container input[type="text"]:focus~.underline,
.game-input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}