.token-span:after {
    content: " ";
    display: inline-block;
    width: 2%;
}

.token-fieldset {
    float: left;
    padding-right: 18px;
}

#logo {
    font-family: "Times";
    font-size: 20pt;
}

.token-window {
    position: relative;
    cursor: default;
    margin: 2em auto;
    width: 80%;
    background: #3465a4;
    color: white;
    border: 6px double white;
    padding: 1em;
    box-shadow: 0 0 0 3px #3465a4, 1em 1em 3px 0 rgba(0, 0, 0, 0.5);
    max-width: 640px;
}

.token-window.white {
    background: silver;
    color: black;
    border-color: white;
    box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgba(0, 0, 0, 0.5);
}

.token-window.half-width {
    width: 50%;
}

.token-window h1 {
    text-align: center;
}

.token-window.blue p {
    color: white;
    text-shadow: 0 0 2px white;
}

.token-button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.token-button,
.button,
.button:link {
    display: inline-block;
    font-weight: bolder;
    color: white;
    font-family: inherit;
    font-size: inherit;
    background: green;
    padding: 0 1em;
    box-shadow: 0.2em 0.2em 3px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: 0.2s all ease-in;
    border: 1px outset green;
}

.token-button.full-width,
.button.full-width {
    display: block;
    text-align: center;
}

.token-button:before,
.button:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    /*background: rgba(255,255,0,.5); /* DEBUG CLICK AREA */
}

.token-button:hover,
.button:active,
.button:focus,
.button:hover {
    transform: translate3d(0.25em, 0.25em, 10em);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    background: limegreen;
}

.token-button:hover:before,
.button:hover:before,
.token-button:focus:before,
.button:focus:before {
    top: -1em;
    left: -1em;
}

.button.pressed {
    box-shadow: none;
    left: 0.25em;
    top: 0.25em;
    margin-right: 0.25em;
    background: gray;
    border: 1px outset #707070;
}

.token-button:disabled {
    transform: translate3d(0.25em, 0.25em, 10em);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    background: gray;
    border: 1px outset #707070;
}

.token-button:first-letter,
.button:first-letter {
    color: yellow;
}

button#btn-transfer {
    margin-top: 20px;
}

.token-input,
textarea {
    background: blue;
    color: aqua;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
}

.token-input:disabled {
    background: #505070;
    color: #d0d0d0;
    border: 2px solid #505070;
}

.token-window>textarea {
    width: 100%;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.trade-buttons {
    text-align: center;
    margin-top: 20px;
}

div .transfer {
    display: table;
    margin: auto;
}